@model IEnumerable<Kanoon.Models.User>
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table_card d-flex justify-content-sm-start">
    <p>
        <b style="color:forestgreen">@TempData["Message"]</b>
    </p>
    <p>
        <b style="color:darkred;">@TempData["ErrorMessage"]</b>
    </p>
    <table class="table" style="font-family:'B Nazanin';color:white;">
        <thead>
            <tr>
                <th>نام</th>
                <th>
                    نام خانوادگی
                </th>
                <th>
                    ایمیل
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (!item.IsAdmin)
                {
                    var dbtnid = "#deleteModal" + item.Id;
                    var dmid = "deleteModal" + item.Id;
                    <tr>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a type="button" class="btn btn-sm btn-dark" asp-action="Details" asp-route-id="@item.Id">جزئیات</a>

                            <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="@dbtnid">
                                حذف کردن
                            </button>
                            <div class="modal fade" id="@dmid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel"><b style=";color:black;">حذف کاربر</b></h5>
                                        </div>
                                        <div class="modal-body">
                                            <b style="color:black;">آیا از حذف کاربر مطمئن هستید؟</b>
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">حذف</a>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (!item.IsActive)
                            {
                                <a type="button" class="btn btn-sm btn-success" asp-action="Active" asp-route-id="@item.Id">فعال کردن</a>
                            }
                            else
                            {
                                <a type="button" class="btn btn-sm btn-danger" asp-action="Deactive" asp-route-id="@item.Id">غیرفعال کردن</a>
                            }

                            @if (item.IsBan == false)
                            {
                                <a type="button" class="btn btn-sm btn-warning" asp-action="Ban" asp-route-id="@item.Id">مسدود کردن</a>
                            }
                            else if (item.IsBan)
                            {
                                <button type="button" class="btn btn-sm btn-dark disabled">مسدود شده</button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

