@using Kanoon.Models.UserViewModels
@model BanViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account_card">
    <h2>مسدودسازی کاربر</h2>
    <form asp-controller="Admin" asp-action="Ban" method="post" role="form" style="font-family:'B Nazanin';color:white;">
        <hr />
        <p>
            <b style="color:forestgreen">@TempData["Message"]</b>
        </p>
        <p>
            <b style="color:darkred;">@TempData["ErrorMessage"]</b>
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="StartDate" class="col-md-3 control-label">تاریخ شروع</label>
                    <div class="col-md-9">
                        <input asp-for="StartDate" class="form-control input_name" type="text" style="color:black;" onclick="PersianDatePicker.Show(this, '1399/01/01');" />
                        <b style="color:darkred;"><span asp-validation-for="StartDate"></span></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="StartTime" class="col-md-4 control-label ">ساعت شروع</label>
                    <div class="col-md-8 justify-content-end timepicker">
                        <input type="text" asp-for="StartTime" style="color:black;" class="form-control input_name">
                        <b style="color:darkred;"><span asp-validation-for="StartTime"></span></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="EndDate" class="col-md-3 control-label">تاریخ پایان</label>
                    <div class="col-md-9">
                        <input asp-for="EndDate" class="form-control input_name" type="text" style="color:black;" onclick="PersianDatePicker.Show(this, '1399/01/01');" />
                        <b style="color:darkred;"><span asp-validation-for="EndDate"></span></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="EndTime" class="col-md-4 control-label ">ساعت پایان</label>
                    <div class="col-md-8 justify-content-end timepicker">
                        <input type="text" asp-for="EndTime" style="color:black;" class="form-control input_name">
                        <b style="color:darkred;"><span asp-validation-for="EndTime"></span></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 d-flex justify-content-sm-end">
                <a class="button btn-sm arrow" asp-action="AllUsers"><b>بازگشت</b></a>
            </div>
            <div class="col-sm-6 d-flex justify-content-sm-start">
                <button type="submit" class="button  arrow btn-sm"><b>مسدود کردن</b></button>
            </div>
        </div>
    </form>
</div>