@model Kanoon.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account_card" style="font-family:'B Nazanin';color:white;">
    <h4>جزئیات کاربر</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            نام
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            نام خانوادگی
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            ایمیل
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            تاریخ تولد
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            رمز عبور
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm d-flex justify-content-center">
        <a class="button btn-sm arrow" asp-action="AllUsers"> بازگشت به لیست</a>
        </dt>
    </dl>
</div>


