@using Kanoon.Models.UserViewModels
@model EditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account_card">
    <h2>ویرایش اطلاعات</h2>
    <form asp-controller="Admin" asp-action="Edit" method="post" role="form" style="font-family:'B Nazanin';color:white;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <hr />
        <p>
            <b style="color:darkred;">@TempData["ErrorMessage"]</b>
        </p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="Name" class="col-md-3 control-label">نام</label>
                    <div class="col-md-9">
                        <input asp-for="Name" type="text" style="color:black;" class="form-control input_name" placeholder="نام" />
                        <b style="color:darkred;"><span asp-validation-for="Name"></span></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="LastName" class="col-md-4 control-label ">نام خانوادگی</label>
                    <div class="col-md-8 justify-content-end">
                        <input asp-for="LastName" type="text" style="color:black;" class="form-control input_name" placeholder="نام خانوادگی" />
                        <b style="color:darkred;"><span asp-validation-for="LastName"></span></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="NationalCode" class="col-md-3 control-label">کد ملی</label>
                    <div class="col-md-9">
                        <input asp-for="NationalCode" style="color:black;" class="form-control input_name" placeholder="کد ملی" />
                        <b style="color:darkred;"><span asp-validation-for="NationalCode"></span></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="BirthDate" class="col-md-4 control-label ">تاریخ تولد</label>
                    <div class="col-md-8 justify-content-end">
                        <input asp-for="BirthDate" class="form-control input_name" type="text" style="color:black;" onclick="PersianDatePicker.Show(this, '1399/01/01');">
                        <b style="color:darkred;"><span asp-validation-for="BirthDate"></span></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label asp-for="Email" class="col-md-3 control-label ">ايميل</label>
                    <div class="col-md-9 justify-content-end">
                        <input asp-for="Email" type="email" style="color:black;" class="form-control input_name" placeholder="ايميل" />
                        <b style="color:darkred;"><span asp-validation-for="Email"></span></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 d-flex justify-content-sm-end">
                <a class="button btn-sm arrow" asp-action="Profile"><b>بازگشت</b></a>
            </div>
            <div class="col-sm-6 d-flex justify-content-sm-start">
                <button type="submit" class="button  arrow btn-sm"><b>ثبت تغییرات</b></button>
            </div>
        </div>
    </form>
</div>