@model Kanoon.Models.User

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account_card" style="font-family:'B Nazanin';color:white;">
    <h4>پروفایل</h4>
    <hr />
    <p>
        <b style="color:forestgreen">@TempData["Message"]</b>
    </p>
    <dl class="row">
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            نام
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            نام خانوادگی
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            ایمیل
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            تاریخ تولد
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            کد ملی
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.NationalCode)
        </dd>
        <dt class="col-sm-3"></dt>
        <dt class="col-sm-3 d-flex justify-content-center">
            رمز عبور
        </dt>
        <dd class="col-sm-6 d-flex justify-content-start">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm d-flex justify-content-center">
            <a class="button btn-sm arrow" asp-action="Edit" asp-route-id="@Model.Id">ویرایش اطلاعات</a>
        </dt>
    </dl>
</div>

