@model Kanoon.Models.Report
@{
    ViewData["Title"] = "ReportDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="account_card d-flex justify-content-sm-start" style="font-family:'B Nazanin';color:white;">
    <div class="container">
        <h4>مشاهده گزارش</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3 d-flex justify-content-center">
                موضوع گزارش :
            </dt>
            <dd class="col-sm-6 d-flex justify-content-start">
                @Html.DisplayFor(model => model.Subject)
            </dd>
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3 d-flex justify-content-center">
                ایمیل فرستنده :
            </dt>
            <dd class="col-sm-6 d-flex justify-content-start">
                @ViewBag.Email
            </dd>
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3 d-flex justify-content-center">
                زمان :
            </dt>
            <dd class="col-sm-6 d-flex justify-content-start">
                @Html.DisplayFor(model => model.Time)
            </dd>
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3 d-flex justify-content-center">
                تاریخ :
            </dt>
            <dd class="col-sm-6 d-flex justify-content-start">
                @Html.DisplayFor(model => model.date)
            </dd>
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3 d-flex justify-content-center">
                متن گزارش :
            </dt>
            <dd class="col-sm-4 d-flex justify-content-start textreport_card">
                @Html.DisplayFor(model => model.Text)
            </dd>
            <dt class="col-sm-2"></dt>
        </dl>
        <dl class="row">
            <dt class="col-sm d-flex justify-content-sm-center">
                <a class="button btn-sm arrow" asp-action="VisitedReports"> بازگشت به لیست</a>
            </dt>
        </dl>
    </div>
</div>
