@using Kanoon.Models.MultipleModels
@model Kanoon.Models.MultipleModels.ReportUserViewModel
@{
    ViewData["Title"] = "UvisitedReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table_card d-flex justify-content-sm-start">
    <p>
        <b style="color:forestgreen">@TempData["Message"]</b>
    </p>
    <p>
        <b style="color:darkred;">@TempData["ErrorMessage"]</b>
    </p>
    <table class="table" style="font-family:'B Nazanin';color:white;">
        <thead>
            <tr>
                <th>
                    موضوع گزارش
                </th>
                <th>
                    ایمیل نویسنده
                </th>
                <th>
                    <a class="button btn-sm arrow" asp-action="ExportReports" style="font-family:'B Nazanin';text-align:center;">
                        <b>ذخیره گزارش ها</b>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody dir="rtl">
            @if (Model.GetReports.Count() != 0)
            {
                @foreach (Report r in Model.GetReports)
                {
                    <tr>
                        @if (r.Visited == false)
                        {
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => r.Subject)
                            </td>
                            <td style="text-align:right;">
                                @foreach (User u in Model.GetUsers)
                                {
                                    @if (u.Id == r.UserId)
                                    {
                                        @Html.DisplayFor(modelItem => u.Email)
                                    }
                                }
                            </td>
                            <td>
                                <a class="btn-sm btn-info" asp-action="ReportDetails" asp-route-id="@r.Id">مشاهده گزارش</a>
                            </td>
                        }
                    </tr>
                }
            }
            <tr></tr>
        </tbody>
    </table>
</div>