@using Kanoon.Models.MultipleModels
@model Kanoon.Models.MultipleModels.ReportUserViewModel
@{
    ViewData["Title"] = "VisitedReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table_card d-flex justify-content-sm-start">
    <div class="row">
        <div class="col-sm-3 d-flex justify-content-sm-center">
            <a class="button btn-sm arrow" asp-action="ExportReports" style="font-family:'B Nazanin';">
                <b>ذخیره گزارش ها</b>
            </a>
        </div>
        <div class="col-sm-9"></div>
    </div>
    <hr />
    <table class="table" style="font-family:'B Nazanin';color:white;">
        <thead>
            <tr>
                <th>
                    موضوع گزارش
                </th>
                <th>
                    ایمیل نویسنده
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.GetReports.Count() != 0)
            {
                @foreach (Report r in Model.GetReports)
                {
                    <tr>
                        @if (r.Visited == true)
                        {
                            <td style="text-align:right;">
                                @Html.DisplayFor(modelItem => r.Subject)
                            </td>
                            <td style="text-align:right;">
                                @foreach (User u in Model.GetUsers)
                                {
                                    @if (u.Id == r.UserId)
                                    {
                                        @Html.DisplayFor(modelItem => u.Email)
                                    }
                                }
                            </td>
                            <td>
                                <a class="btn-sm btn-info" asp-action="ReportDetails" asp-route-id="@r.Id">مشاهده گزارش</a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>