
@{
    Layout = "_Layout";
}

<div class="container-fluid text-center" style="font-family:'B Nazanin';color:white;">
    <div class="row">
        <div class="col-sm-3 d-flex justify-content-sm-end">
            <div class="list_card">
                <dl>
                    <dt>
                        <a asp-area="" asp-controller="Admin" asp-action="Profile" style="font-size:15px;color:white;">پروفایل مدیر</a>
                    </dt>
                    <hr style="border-color:wheat;" />
                    <dt>
                        <a asp-area="" asp-controller="Admin" asp-action="AllUsers" style="font-size:15px;color:white;">مشاهده لیست کاربران</a>
                    </dt>
                    <hr style="border-color:wheat;" />
                    <dt>
                        <a data-toggle="collapse" href="#Reports" role="button" aria-expanded="false" aria-controls="Reports" style="font-size:15px;color:white;">مشاهده گزارش کاربران</a>
                        <div class="collapse multi-collapse" id="Reports">
                            <br />
                            <dl>
                                <dt>
                                    <a asp-area="" asp-controller="Admin" asp-action="UnvisitedReports" style="font-size:14px;color:white;">گزارش های مشاهده نشده</a>
                                </dt>
                                <hr style="border-color:wheat;" />
                                <dt>
                                    <a asp-area="" asp-controller="Admin" asp-action="VisitedReports" style="font-size:14px;color:white;">گزارش های مشاهده شده</a>
                                </dt>
                            </dl>
                        </div>
                    </dt>
                    <hr style="border-color:wheat;" />
                </dl>
            </div>
        </div>
        <div class="col-sm-9 d-flex justify-content-sm-start">
            @RenderBody()
        </div>
    </div>
</div>