
@{
    Layout = "_Layout";
}

<div class="container-fluid text-center" style="font-family:'B Nazanin';color:white;">
    <div class="row">
        <div class="col-sm-3 d-flex justify-content-sm-end">
            <div class="list_card">
                <dl>
                    <dt>
                        <a asp-area="" asp-controller="User" asp-action="Profile" style="font-size:15px;color:white;">پروفایل کاربر</a>
                    </dt>
                    <hr style="border-color:wheat;" />
                    <dt>
                        <a asp-area="" asp-controller="User" asp-action="AddReport" style="font-size:15px;color:white;">ثبت گزارش</a>
                    </dt>
                    <hr style="border-color:wheat;" />
                </dl>
            </div>
        </div>
        <div class="col-sm-9 d-flex justify-content-sm-start">
            @RenderBody()
        </div>
    </div>
</div>