@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Kanoon.Models.AccountViewModels
@model LoginViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "ورود";
}

<div class="container text-center" style="font-family:'B Nazanin';font-size:100%;color:white;">
    <br />
    <div class="d-flex justify-content-center">
        <div class="login_card">
            <h2>@ViewData["Title"]</h2>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <hr />
                <p>
                    <b style="color:darkred;">@ViewBag.ErrorMessage</b>
                </p>
                <div class="d-flex justify-content-center">
                    <div class="form-group row">
                        <div>
                            <input asp-for="Email" type="email" style="color:black;" class="form-control col input_login" placeholder="ایمیل" />
                            <b style="color:darkred;"><span asp-validation-for="Email"></span></b>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-group row">
                        <div class="col-md">
                            <input asp-for="Password" style="color:black;" class="form-control col input_login" placeholder="رمز عبور" />
                            <b style="color:darkred;"><span asp-validation-for="Password"></span></b>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md">
                        <button type="submit" class="button  arrow btn-sm"><b>ورود</b></button>
                    </div>
                </div>
                <p>
                    <a asp-area="" asp-controller="Account" asp-action="Register" style="color:#ffa31a;"><b>ثبت نام نکرده ام</b></a>
                </p>
                <p>
                    <a asp-action="ForgotPassword" style="color:#ffa31a;"><b>رمزعبور خود را فراموش کرده ام</b></a>
                </p>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}