@using Kanoon.Models.AccountViewModels
@model RegisterViewModel

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "ثبت نام";
}

<div class="container text-center" style="font-family:'B Nazanin';font-size:100%;color:white;">
    <br />
    <div class="d-flex justify-content-center">
        <div class="register_card">
            <h2>@ViewData["Title"]</h2>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                <hr />
                <p>
                    <b style="color:darkred;">@ViewBag.ErrorMessage</b>
                </p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="Name" class="col-md-3 control-label">نام</label>
                            <div class="col-md-9">
                                <input type="text" style="color:black;" asp-for="Name" class="form-control input_name" placeholder="نام" />
                                <b style="color:darkred;"><span asp-validation-for="Name"></span></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="LastName" class="col-md-4 control-label ">نام خانوادگی</label>
                            <div class="col-md-8 justify-content-end">
                                <input type="text" style="color:black;" asp-for="LastName" class="form-control input_name" placeholder="نام خانوادگی" />
                                <b style="color:darkred;"><span asp-validation-for="LastName"></span></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="NationalCode" class="col-md-3 control-label">کد ملی</label>
                            <div class="col-md-9">
                                <input style="color:black;" asp-for="NationalCode" type="text" class="form-control input_name" placeholder="کد ملی" />
                                <b style="color:darkred;"><span asp-validation-for="NationalCode"></span></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="BirthDate" class="col-md-4 control-label ">تاریخ تولد</label>
                            <div class="col-md-8 justify-content-end">
                                <input type="text" style="color:black;" asp-for="BirthDate" class="form-control input_name" onclick="PersianDatePicker.Show(this, '1399/01/01');">
                                <b style="color:darkred;"><span asp-validation-for="BirthDate"></span></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="Email" class="col-md-3 control-label ">ايميل</label>
                            <div class="col-md-9 justify-content-end">
                                <input asp-for="Email" type="email" style="color:black;" class="form-control input_name" placeholder="ايميل" />
                                <b style="color:darkred;"><span asp-validation-for="Email"></span></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="Password" class="col-md-4 control-label">رمز عبور</label>
                            <div class="col-md-8">
                                <input asp-for="Password" type="password" style="color:black;" class="form-control input_name" placeholder="رمز عبور" />
                                <b style="color:darkred;"><span asp-validation-for="Password"></span></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label asp-for="ConfirmPassword" class="col-md-4 control-label">تایید رمز عبور</label>
                            <div class="col-md-8 justify-content-end">
                                <input asp-for="ConfirmPassword" type="password" style="color:black;" class="form-control input_name" placeholder="تایید رمز عبور" />
                                <b style="color:darkred;"><span asp-validation-for="ConfirmPassword"></span></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm justify-content-center">
                        <div class="checkbox">
                            <input asp-for="IsAdmin" />
                            <label asp-for="IsAdmin">ثبت نام بعنوان مدیر</label>
                            <span asp-validation-for="IsAdmin" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm">
                        <button type="submit" class="button  arrow btn-sm"><b>ثبت نام</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}