
@{
    ViewData["Title"] = "RegisterMessage";
}

<div class="container" style="font-family:'B Nazanin';text-align:center">
    <div class="d-flex justify-content-center">
        <br />
        <a style="color:black;">ثبت نام شما با موفقیت انجام شد. جهت ورود به سایت ابتدا آدرس ایمیل خود را تایید کنید</a><br />
        <br />
    </div>
    <div class="d-flex justify-content-center">
        <a asp-area="" asp-controller="Home" asp-action="Index" style="font-family: 'B Nazanin'; text-align: center">جهت بازگشت به صفحه اصلی اینجا کلیک کنید</a>
    </div>
</div>
