@using Kanoon.Models.UserViewModels
@model ReportViewModel

@{
    ViewData["Title"] = "AddReport";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="account_card">
    <form asp-controller="User" asp-action="AddReport" class="d-flex justify-content-sm-center" method="post" role="form">
        <div asp-validation-summary="All">
            <div class="row">
                <div class="col-sm-">
                    <div class="form-group row">
                        <label asp-for="Subject" class="col-sm-6 control-label ">موضوع گزارش</label>
                        <div class="col-sm-6 justify-content-start">
                            <input asp-for="Subject" type="text" style="color:black;" class="form-control input_name">
                            <b style="color:darkred;"><span asp-validation-for="Subject"></span></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div>
                    <textarea asp-for="Text" type="text" style="color:black;" class="form-control col report_card" placeholder="متن گزارش" rows="7"></textarea>
                    <b style="color:darkred;"><span asp-validation-for="Text"></span></b>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-8 d-flex justify-content-sm-end timepicker">
                            <input type="text" asp-for="StartTime" style="color:black;" class="form-control input_time">
                            <b style="color:darkred;"><span asp-validation-for="StartTime"></span></b>
                        </div>
                        <label asp-for="StartTime" class="col-sm-4 control-label d-flex justify-content-sm-start">زمان شروع</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-8 d-flex justify-content-sm-end timepicker">
                            <input type="text" asp-for="EndTime" style="color:black;" class="form-control input_time">
                            <b style="color:darkred;"><span asp-validation-for="EndTime"></span></b>
                        </div>
                        <label asp-for="EndTime" class="col-sm-4 control-label d-flex justify-content-sm-start">زمان پایان</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-sm-center">
                    <div class="form-group row">
                        <div class="col-sm">
                            <button type="submit" class="button  arrow btn-sm"><b>ثبت گزارش</b></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <div class="col-sm-8 d-flex justify-content-end">
                            <input asp-for="date" class="form-control input_time" type="text" style="color:black;" onclick="PersianDatePicker.Show(this, '1399/01/01');">
                            <b style="color:darkred;"><span asp-validation-for="date"></span></b>
                        </div>
                        <label asp-for="date" class="col-sm-4 control-label d-flex justify-content-end">تاریخ</label>
                    </div>
                </div>
            </div>
            <p>
                <b style="color:forestgreen">@TempData["ReportMessage"]</b>
            </p>
            <p>
                <b style="color:darkred;">@TempData["ReportErrorMessage"]</b>
            </p>
        </div>
    </form>
</div>
