@using Kanoon.Models.UserViewModels
@model ReportViewModel

@{
    ViewData["Title"] = "BanState";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="account_card">
    <a style="color:darkred;"><b>امکان ثبت گزارش وجود ندارد</b></a>
    <br />
    <a style="color:darkred;"><b>@TempData["BanExp"]</b></a>
</div>