@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center" style="font-family:'B Nazanin';font-size:100%;color:white;">
    <br /><br /><br /><br />
    <div class="d-flex justify-content-center">
        <div class="home_card">
            <h3>خوش آمدید</h3>
            <hr />
            <div class="d-flex justify-content-center text-center">
                <a asp-area="" asp-controller="Account" asp-action="Login">
                    <button class="button  arrow btn-sm" style="font-family:'B Nazanin';height:50px;"><b>ورود</b></button>
                </a>
            </div>
            <a><br /></a>
            <div class="d-flex justify-content-center text-center">
                <a asp-area="" asp-controller="Account" asp-action="Register">
                    <button class="button  arrow btn-sm" style="font-family:'B Nazanin';height:50px"><b>ثبت نام</b></button>
                </a>
            </div>
        </div>
    </div>
</div>
