/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.nav-layer {
    background-color: #00334d;
    /*background: url("img2.jpg") no-repeat scroll center center/cover;*/
}

.landing-layer {
    background: url("img15.jpg") no-repeat scroll center center/cover;
    padding: 0 0 100px;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: 200px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.62) !important;
}

@button-colour: #ffa31a;
@button-text: #660000;
@regular-text: #333;
@button-tint: fadeout(#000, 90%);
@background: #ffa31a;

* {
    box-sizing: border-box;
}

.button {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: .8em 1.4em;
    padding-right: 1.4em;
    background: @button-colour;
    border: none;
    color: #660000;
    transition: .2s;
    &:before, &:after

{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-size: 1.5em;
    text-align: center;
    transition: .2s;
    transform-origin: 50% 60%;
}

&:before {
    background: @button-tint;
}

&:hover {
    background: darken(@button-colour, 10%);
}

&:active,
&:focus {
    background: darken(@button-colour, 30%);
    outline: none;
}

}

.button {
    min-width: 15em;
}

.button-sm {
    min-width: 10em;
}

.arrow {
    background: #ffa31a;
    &:hover

{
    background: darken(#FE5F55, 10%);
}

&:active,
&:focus {
    background: darken(#FE5F55, 30%);
}

&:after {
    content: "\F054";
}

&:hover:after {
    -webkit-animation: bounceright .3s alternate ease infinite;
    animation: bounceright .3s alternate ease infinite;
}

}


@-webkit-keyframes bounceright {
    from {
        -webkit-transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(3px);
    }
}

@-webkit-keyframes wiggle {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(30deg);
    }
}

@keyframes bounceright {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(3px);
    }
}

@keyframes wiggle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(30deg);
    }
}

.input_login {
    width: 300px;
    background-color: rgba(229, 229, 229, 0.13) !important;
    border-color: rgba(229, 229, 229, 0.13) !important;
}

.input_name {
    width: 200px;
    background-color: rgba(229, 229, 229, 0.13) !important;
    border-color: rgba(229, 229, 229, 0.13) !important;
}

.input_time {
    width: 100px;
    background-color: rgba(229, 229, 229, 0.13) !important;
    border-color: rgba(229, 229, 229, 0.13) !important;
    border-radius: 5px;
}

.login_card {
    min-height: 400px;
    height: auto;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.38) !important;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.register_card {
    min-height: 450px;
    height: auto;
    width: 700px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.38) !important;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.home_card {
    height: 250px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.38) !important;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.list_card {
    height: 400px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.38) !important;
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.account_card {
    min-height: 400px;
    height: auto;
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.38) !important;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.report_card {
    width: 500px;
    background-color: rgba(229, 229, 229, 0.13) !important;
    border-color: rgba(229, 229, 229, 0.13) !important;
    color: white;
    border-radius: 5px;
}

.report_time {
    width: 120px;
    background-color: rgba(229, 229, 229, 0.13) !important;
    border-color: rgba(229, 229, 229, 0.13) !important;
    color: white;
}

.table_card {
    min-height: 400px;
    height: auto;
    width: 900px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.38) !important;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.textreport_card {
    background-color: rgba(229, 229, 229, 0.13) !important;
    border-color: rgba(229, 229, 229, 0.13) !important;
    text-align: right,start;
    border-radius: 5px;
}